body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
}

/* header section */
header {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

/* sidebar section */
.sidebar {
    background-color: rgb(84, 154, 196);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: white;
    height: 100%;
}

.dashboardIcon {

}

.dashboard {

}

ul {
    list-style: none;
    height: 60vh;
    display: grid;
    grid-template-rows: 3fr repeat(5, 1fr) 3fr repeat(3, 1fr);
}

.mainTabs, .extraTabs {
    margin-top: 3vh;
}

/* main section */
main {
    background-color: lightgray;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 8px;
}

.projects {

}

main p {
    font-size: 12px;
}
    
.projectTabs {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.projectIcons {
    display: flex;
    justify-content: end;
}

.widgets {
    grid-column: 2 / 3;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.trending {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.cards, .announcements, .trending {
    background-color: white;
}